* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

body {
  transition: background-color 500ms linear;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9411764706);
  color: #FFFFFF;
}

.sideBar {
  position: fixed;
  width: 300px;
  right: -300px;
  height: 100vh;
  background: #A62120;
  z-index: 11;
  overflow: auto;
  transition: 0.5s;
}

.active {
  right: 0px;
}

.sideBarOptions {
  width: 200px;
  margin-left: 40px;
  margin-top: 70px;
}

.sideBarOption {
  margin-top: 30px;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  line-height: 44.53px;
}

.navBarContainer {
  width: 100%;
  max-width: 100vw;
  position: fixed;
  z-index: 10;
}

.navTop {
  background-color: #B50014;
  width: 100%;
  height: 93px;
  display: flex;
  justify-content: center;
}

.navTopContainer {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}

.imgLogo {
  height: 172.2px;
}

.spin {
  animation: spinning 2s;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navOptions {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: left;
  gap: 25px;
  height: 93px;
  align-items: center;
}

.navOption {
  cursor: pointer;
}

.downloadOption {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navBottom {
  background-color: #2B2B2B;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}

.navBottomContainer {
  display: flex;
  justify-content: right;
  width: 1200px;
  text-align: right;
  align-items: center;
}

.OpentimeSpan {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 5px;
}

.imageSliderSection {
  width: 100%;
  padding-top: 123px;
  position: relative;
  z-index: 8;
  background-color: gray;
  height: 679px;
}

.imageSliderTextContainer {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 629px;
  height: 348px;
  background-color: rgba(0, 0, 0, 0.3019607843);
}

.imageSliderTextLocation {
  margin-left: 250px;
  height: 348px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  gap: 20px;
}

.imageSliderTextH1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 44.53px;
}

.imageSliderText {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.swiper {
  width: 100%;
  height: 679px;
}

.swiper-wrapper {
  width: 100%;
  height: 679px;
}

.swiper-slide {
  color: #FFFFFF;
  height: 679px;
  width: 100%;
}

.swiperImage {
  object-fit: cover;
  height: 679px;
  width: 100%;
}

.imageDescriptionSection {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 50px;
}

.imageDescription {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Description {
  color: #FFFFFF;
  width: 100%;
}

.Descriptionh2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  margin-top: 140px;
}

.Descriptionh3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.78px;
  text-align: left;
}

.DescriptionText {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin-top: 40px;
  width: 427px;
}

p {
  margin-top: 10px;
}

.DescriptionButtons {
  display: flex;
  justify-content: left;
  gap: 19px;
  margin-top: 60px;
}

.DescriptionButton {
  width: 174px;
  height: 47px;
  background-color: #A62120;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageGalerySide {
  width: 537px;
  height: 100%;
  margin-top: 100px;
}

.imgGaleryOptions {
  display: flex;
  justify-content: center;
  width: 537px;
  height: 200px;
  gap: 10px;
  margin-top: 10px;
}

.chosenImage {
  object-fit: cover;
  width: 537px;
  height: 326px;
}

.smallpic {
  width: 167px;
  height: 167px;
  object-fit: cover;
  cursor: pointer;
}

.reservationSection {
  background-color: #A62120;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.reservationTextSide {
  width: 50%;
  display: flex;
  justify-content: right;
}

.reservationTextContainer {
  width: 427px;
  margin-right: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  word-spacing: 5px;
}

.reservationTexth1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: #FFFFFF;
  width: 250px;
}

.enumeration {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.reservationButton {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 174px;
  height: 47px;
  background-color: #FFFFFF;
  border: 1px solid #FF0000;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #252525;
}

.reservationImageSlide {
  width: 50%;
}

.reservationImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.productSection {
  position: relative;
  width: 100%;
}

.setmiddle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.productMiddleContainer {
  width: 650px;
}

.productTitle {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 130px;
}

.productSecondTitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.78px;
  text-align: center;
  padding-top: 20px;
  color: #FFFFFF;
}

.productDescription {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding-top: 50px;
  color: #FFFFFF;
}

.ProductDescriptionButton {
  width: 174px;
  height: 47px;
  background-color: #A62120;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  margin-top: 40px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.vonalConatiner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  overflow: hidden;
}

.productImagesContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.productImages {
  width: 1098px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pructImage {
  width: 262px;
  object-fit: cover;
  height: 243px;
}

.spicesSection {
  background-color: #A62120;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  position: relative;
}

.spicesImageSide {
  width: 50%;
}

.spicesImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.spicesTextSide {
  width: 50%;
  display: flex;
  justify-content: left;
}

.spicesTextContainer {
  width: 440px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.spicesTexth1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: #FFFFFF;
}

.spicesh2 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
}

.spicesDescription {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.deliverySection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 540px;
}

.bcgImg {
  object-fit: cover;
  width: 100%;
  height: 5000px;
  min-height: 600px;
}

.insideImageHolder {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.deliveryTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
}

.deliveryButton {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 174px;
  height: 47px;
  background-color: #FFFFFF;
  border: 1px solid #FF0000;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #252525;
}

.recordsSection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

.recordContainer {
  width: 1098px;
  position: relative;
}

.titlePart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.otherSideText {
  width: 400px;
}

.thisSide {
  width: 400px;
}

.otherSideText {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: #FFFFFF;
}

.redButton {
  width: 174px;
  height: 47px;
  background-color: #A62120;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  margin-top: 40px;
  cursor: pointer;
}

.Medals {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.medalComponent {
  width: 170px;
  height: 100%;
}

.medalImageHolder {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.medalImg {
  margin-bottom: 12px;
}

.medalText {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 42px;
}

.medalComponentText {
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5098039216);
}

.Recommendation {
  text-align: center;
  margin-top: 100px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  color: #FFFFFF;
  opacity: 0.46;
}

.RecommendationTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin-top: 30px;
  color: #FFFFFF;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.footer {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: 174px;
  justify-content: space-between;
}

.footerTop {
  height: 147px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #B50014;
}

.footerTopContainer {
  width: 1400px;
  display: flex;
  justify-content: space-between;
}

.footerBottom {
  height: 27px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #66000B;
}

.footerBottomContainer {
  width: 1400px;
  display: flex;
  justify-content: space-between;
}

.footerBottomText {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}

.footerBottomTextSP {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: underline;
}

.fotterTopLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerTopRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerTopRightText {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

.addressesTexrt {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 200px;
}

.footerLogoImage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 131.2px;
  top: 5px;
}

.hamburgerMenuIcon {
  position: absolute;
  top: -100px;
  opacity: 0;
  z-index: 25;
}

.hamburgerButton {
  cursor: default;
  opacity: 0;
  z-index: 25;
}

.mobiltext {
  position: absolute;
  right: 50px;
  opacity: 0;
}

.mobilTextTop {
  font-size: 10px;
  font-weight: 700;
  line-height: 11.72px;
}

.mobilTextBottom {
  font-size: 10px;
  font-weight: 400;
  line-height: 11.72px;
}

.littleIconHolder {
  height: auto;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.carousel {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.card {
  width: 317px;
  height: 257px;
  transition: transform 0.5s;
  background-color: rgba(46, 44, 44, 0.3764705882);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 40px;
}

.message {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #FFFFFF;
  width: 250px;
}

.messageLarge {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 342px;
}

.sender {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  opacity: 0.46;
}

.senderLarge {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  margin-top: 20px;
}

.textLarge {
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
}

.card.large {
  position: relative;
  width: 429px;
  height: 414px;
  color: #FFFFFF;
  background-color: rgba(46, 44, 44, 0.5647058824);
  gap: 15px;
}

.znak {
  position: absolute;
  bottom: -20px;
  right: 30px;
  z-index: 10;
}

.arrow {
  background: none;
  border: none;
  font-size: 33px;
  cursor: pointer;
  position: absolute;
}

#prev {
  left: 299px;
}

#next {
  right: 299px;
}

@media only screen and (max-width: 1300px) {
  .spicesImageSide {
    width: 100%;
  }
  .carousel {
    width: 300px;
  }
  .carousel-container {
    width: 100px;
    overflow: scroll;
  }
  .spicesImage {
    width: 100%;
    height: 100%;
  }
  .spicesTextSide {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .spicesTextContainer {
    margin-left: 0px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    gap: 30px;
  }
  .spicesTexth1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
  }
  .spicesh2 {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
  }
  .spicesDescription {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }
}
@media only screen and (max-width: 1200px) {
  .navTop {
    height: 75px;
  }
  .navOptions {
    height: 75px;
  }
  .navBottom {
    height: 35px;
  }
  .imgLogo {
    height: 96px;
  }
  .navOption {
    opacity: 0;
    width: 0px;
    height: 0;
    cursor: default;
  }
  .downloadOption {
    opacity: 1;
    width: 100px;
    position: absolute;
    cursor: pointer;
  }
  .hamburgerMenuIcon {
    position: absolute;
    right: 35px;
    top: 23px;
    opacity: 1;
    color: #000;
  }
  .hamburgerButton {
    opacity: 1;
    cursor: pointer;
  }
  .imageSliderSection {
    position: relative;
    padding-top: 110px;
  }
  .reservationTextSide {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 60px;
    justify-content: center;
  }
  .reservationImageSlide {
    width: 100%;
  }
  .reservationTextContainer {
    text-align: center;
    width: 500px;
    margin-right: 0px;
    align-items: center;
  }
  .reservationTexth1 {
    text-align: center;
  }
  .enumeration {
    text-align: center;
  }
  li {
    text-align: center;
  }
  .reservationButton {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .recordContainer {
    width: 650px;
    align-items: center;
    justify-content: center;
  }
  .titlePart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .thisSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .otherSide {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .otherSideText {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .imgContainerVonal {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .Medals {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    gap: 20px;
  }
}
@media only screen and (max-width: 1110px) {
  .productImages {
    justify-content: center;
    gap: 50px;
  }
  .productMiddleContainer {
    width: 400px;
  }
  .imageDescriptionSection {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0px;
    margin-bottom: 50px;
  }
  .Description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .imageDescription {
    width: 300px;
    justify-content: center;
  }
  .Descriptionh2 {
    text-align: center;
    margin-top: 30px;
  }
  .Descriptionh3 {
    text-align: center;
  }
  .DescriptionText {
    text-align: center;
  }
  .DescriptionButtons {
    display: flex;
    justify-content: center;
    gap: 19px;
    margin-top: 60px;
  }
  .imageGalerySide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 1000px) {
  .footerTop {
    height: auto;
  }
  .footerTopContainer {
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .footerBottom {
    height: auto;
  }
  .footerBottomContainer {
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .footerBottomText {
    text-align: center;
    margin-top: 20px;
  }
  .footerBottomTextSP {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: underline;
  }
  .fotterTopLeft {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  .littleIconHolder {
    position: absolute;
    opacity: 0;
  }
  .footerTopRight {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .footerLogoHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 131.2px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footerLogoImage {
    top: 0;
    bottom: 0;
    height: 131.2px;
    width: 131.2px;
  }
  .swiper-pagination {
    opacity: 0;
  }
  .swiper-button-next {
    opacity: 0;
  }
  .swiper-button-prev {
    opacity: 0;
  }
  .imageSliderSection {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    gap: 0px;
    margin-bottom: 0px;
  }
  .imageSliderTextContainer {
    position: unset;
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    height: 348px;
    background-color: rgba(0, 0, 0, 0);
    transform: translateY(0);
  }
  .imageSliderTextLocation {
    margin-left: 0px;
    height: 348px;
    color: #FFFFFF;
    width: 400px;
    text-align: center;
  }
  .imageSliderTextH1 {
    text-align: center;
  }
  .imageSliderText {
    text-align: center;
  }
}
@media only screen and (max-width: 730px) {
  .mobiltext {
    opacity: 1;
  }
  .clockVector {
    opacity: 0;
  }
  .DisapearOnMobile {
    opacity: 0;
  }
}
@media only screen and (max-width: 640px) {
  .recordContainer {
    width: 380px;
    align-items: center;
    justify-content: center;
  }
  .Medals {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    gap: 40px;
  }
  .chosenImage {
    width: 336px;
    height: 290px;
  }
  .smallpic {
    width: 116px;
    height: 73px;
  }
  .Description {
    width: 100%;
  }
  .imageDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 200px;
  }
}

/*# sourceMappingURL=output.css.map */
