$brandPrimary: #A62120;
$brandSecondary: #2B2B2B;
$grayColor: #404040;
$middleWidth: 1200px;
$middleWidthSmaller: 1500px;

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';    
}
body{
    position: relative;
    background-color: #000000F0;
    color: #FFFFFF;
}
.navBarContainer{
    width: 100%;
    max-width: 100vw;
    position: fixed;
    z-index: 10;
}
.navTop{
    background-color: #B50014;
    width: 100%;
    height: 93px;
    display: flex;
    justify-content: center;
}
.navTopContainer{
    display: flex;
    width: $middleWidth;
    justify-content: space-between;
}
.imgLogo{
    height: 172.2px;
}
.navOptions{
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: left;
    gap: 25px;
    height: 93px;
    align-items: center;
}
.navOption{
    cursor: pointer;
}
.downloadOption{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.navBottom{
    background-color: $brandSecondary;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.navBottomContainer{
    display: flex;
    justify-content: right;
    width: $middleWidth;
    text-align: right;
    align-items: center;
}
.OpentimeSpan{
    font-weight: bold;
    margin-right: 10px;
    margin-left: 5px;
}

.imageSliderSection{
    width: 100%;
    padding-top: 123px;
    position: relative;
    z-index: 8;
    background-color: gray;
    height: 679px;

}
  .imageSliderTextContainer{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 629px;
    height: 348px;
    background-color: #0000004D;
  }
  .imageSliderTextLocation{
    margin-left: 250px;
    height: 348px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    gap: 20px;
  }
  .imageSliderTextH1{
    font-size: 38px;
    font-weight: 700;
    line-height: 44.53px;
  }
  .imageSliderText{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
  }
  .swiper {
    width: 100%;
    height: 679px;
  }
.swiper-wrapper{
    width: 100%;
    height: 679px;
}
.swiper-slide{
    color: #FFFFFF;
    height: 679px;
    width: 100%;
}
.swiperImage{
    object-fit: cover;
    height: 679px;
    width: 100%;
}

.imageDescriptionSection{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
}
.imageDescription{
    display: flex;
    width: var(--middleWidthSmaller);
    justify-content: space-between;
}
.Description{
    color: #FFFFFF;
}
.Descriptionh2{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    margin-top: 140px;
    
}
.Descriptionh3{
    font-size: 22px;
    font-weight: 700;
    line-height: 25.78px;
    text-align: left;
    
}
.DescriptionText{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-top: 40px;
    width: 427px;
}
p{
    margin-top: 10px;
}
.DescriptionButtons{
    display: flex;
    justify-content: left;
    gap: 19px;
    margin-top: 60px;
}
.DescriptionButton{
    width: 174px;
    height: 47px;
    background-color: $brandPrimary;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.imageGalerySide{
    width: 537px;
    height: 100%;
    margin-top: 100px;
}

.imgGaleryOptions{
    display: flex;
    justify-content: center;
    width: 537px;
    height: 200px;
    gap: 10px;
    margin-top: 10px;
}
.chosenImage{
    object-fit: cover;
    width: 537px;
    height: 326px;
}
.smallpic{
    width: 167px;
    height: 167px;
    object-fit: cover;
    cursor: pointer;
}


.reservationSection{
    background-color: $brandPrimary;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.reservationTextSide{
    width: 50%;
    display: flex;
    justify-content: right;
}
.reservationTextContainer{
    width: 427px;
    margin-right: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    word-spacing: 5px;
}

.reservationTexth1{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    color: #FFFFFF;
    width: 250px;
}
.enumeration{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}
li{
    margin-top: 5px;
    margin-bottom: 5px;
}
.reservationButton{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 174px;
    height: 47px;
    background-color: #FFFFFF;
    border: 1px solid #FF0000;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #252525;
}
.reservationImageSlide{
    width: 50%;
}

.reservationImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
